<hr>
<footer>
  <small>
    🌟 <b>Sitio creado para un proyecto escolar con <a href="https://www.11ty.dev/" target="_blank">11ty</a></b>.  
    <br> Inspirado en el universo de <i>Minecraft</i>. 🌟  
  </small>
</footer>