<header>
  <h1>Wiki de <i>Minecraft</i></h1>
  {% include "menu.njk" %}
  <img src="https://gaming-cdn.com/images/products/442/616x353/minecraft-java-bedrock-edition-java-bedrock-edition-pc-juego-cover.jpg?v=1716387513" alt="Logotipo de Minecraft">
</header>