<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description | default('Explora todo sobre Minecraft.') }}">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  {% include "header.njk" %}

  <div class="container">
    <div class="content-wrapper">
      <main class="main-content">
        <article class="post-content">
          <h1>{{ title }}</h1>
          <p><strong>{{ description }}</strong></p>
          <div>{{ content | safe }}</div>
      </main>

  {% include "footer.njk" %}
  <script src="/js/main.js" type="module"></script>
</body>
</html>