<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description | default('Explora todo sobre Minecraft.') }}">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  {% include "header.njk" %}

  <div class="container">
    <div class="content-wrapper">
      <main class="main-content">
        <article class="post-content">
          <h1>{{ title }}</h1>
          <p><strong>{{ description }}</strong></p>
          <div>{{ content | safe }}</div>
      </main>


      <aside class="sidebar">
        <div class="categories">
          <h2>Categorías</h2>
          <ul>
            <li><a href="/acerca">Acerca de</a></li>
            <li><a href="/Alquimia">Alquimia</a></li>
            <li><a href="/Biomas">Biomas</a></li>
            <li><a href="/Criaturas">Criaturas</a></li>
            <li><a href="/Comercio">Comercio</a></li>
            <li><a href="/Creativo">Modo Creativo</a></li>
            <li><a href="/Criaturas">Criaturas</a></li>
            <li><a href="/DimensionEND">DimensionEND</a></li>
            <li><a href="/DimensionNETHER">DimensionNETHER</a></li>
            
            <li><a href="/Redstone">Redstone</a></li>
            <li><a href="/supervivencia">Supervivencia</a></li>



          </ul>
        </div>
      </aside>
    </div>
  </div>

  {% include "footer.njk" %}

  <script src="/js/main.js" type="module"></script>
</body>
</html>
