---
layout: layout-page.njk
title: Acerca de
description: Acerca de mí
---


<section>
  <h2>¿Quién soy?</h2>
  <ul>
Holii, soy Melannie Guerrero 🐱 y esta es mi primera prueba de un proyecto escolar para realizar una estructura de Wiki. Soy amante de los videojuegos de acción, aventuras, RPG y Battle Royale, actualmente tengo 18 años. Espero esta wiki sea de su agrado :D.
  </ul>
</section>

<hr>

<section>
  <h2>Detalles del Proyecto</h2>
  <p>
    Este proyecto se titula <strong>[Título del Proyecto]</strong> y tiene como objetivo [Objetivo o Propósito del Proyecto]. 
    El desarrollo de este sitio está basado en herramientas modernas como <b>11ty</b> y <b>GitHub Pages</b>, con un enfoque en el universo de Minecraft.
  </p>
</section>

<hr>

<section>
  <h2>Agradecimientos</h2>
  <p>
    Agradezco al docente [Nombre del Docente] por la guía y el apoyo durante la realización de este proyecto, y a mis compañeros por su colaboración e ideas compartidas.
  </p>
</section>
