---
layout: layout-page.njk
title: Acerca
description: Acerca de mí
---


<section>
  <h2>¿Quién soy?</h2>
  <ul>
Holii, soy Melannie Guerrero 🐱 y esta es mi primera prueba de un proyecto escolar para realizar una estructura de Wiki. Soy amante de los videojuegos de acción, aventuras, RPG y Battle Royale, actualmente tengo 18 años. Espero esta wiki sea de su agrado :D.
  </ul>
</section>

<hr>

<section>
  <h2>¿Por qué Minecraft?</h2>
  <p>
    <strong>Wiki de Minecraft</strong> tiene como objetivo poder estar familiarizado con el juego, para conocer detalles y lo que puedes hacer dentro de Minecraft. 
    El desarrollo de este sitio está basado en herramientas modernas como <b>11ty</b> y <b>GitHub Pages</b>, con un enfoque en el universo dentro del juego.
  </p>
</section>

<hr>

<section>
  <h2>Agradecimientos</h2>
  <p>
    Agradezco a mi docente Jonathan Mircha por la guía y el apoyo durante la realización de este proyecto, por sus enseñanzas a través de la programación.
  </p>
</section>
