---
layout: layout-page.njk
title: Artículos
description: Explora diferentes aspectos del universo de Minecraft.
---

<hr />

<section class="articulos-list">
  <h2 id="conceptos">¿Qué es Minecraft?</h2>
  🌟 Introducción al fascinante mundo de <i>Minecraft</i>. Aprende los conceptos básicos y cómo los jugadores interactúan en este increíble universo. 🌟
  <br><br>
  <ul>
    {% for article in collections.concepto | sort %}
      <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>

  <hr />

  <h2 id="jugabilidad">Jugabilidad</h2>
  🌟 Conoce los modos de juego y descubre cómo disfrutar de Minecraft de formas únicas y emocionantes. 🌟
  <br><br>
  <ul>
    {% for article in collections.jugabilidad | sort %}
      <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>

  <hr />

  <h2 id="dimensiones">Dimensiones</h2>
  🌌 Explora los mundos alternativos dentro de Minecraft, llenos de desafíos y maravillas. 🌌
  <br><br>
  <ul>
    {% for article in collections.dimensiones | sort %}
      <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>

  <hr />

  <h2 id="mecanicas">Mecánicas</h2>
  ⚙️ Descubre cómo funcionan las mecánicas clave del juego, desde la alquimia hasta la minería. ⚙️
  <br><br>
  <ul>
    {% for article in collections.mecanicas | sort %}
      <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>
</section>