---
layout: layout-page.njk
title: Inicio
description: Explora todo sobre el vasto universo de Minecraft.
---

<p>
  ¡Bienvenido a la <b>Wiki de Minecraft</b>! Aquí encontrarás información detallada sobre el vasto universo de Minecraft: desde biomas y criaturas, hasta encantamientos, redstone y dimensiones secretas. ¡Explora, aprende y mejoras para tus aventuras en el juego!
</p>

<section class="minecraft-info">
  <h2>¿Qué es Minecraft?</h2>
  <p>
    <i>Minecraft</i> es un juego de aventuras y construcción donde los jugadores pueden explorar un mundo generado de manera procedimental, recolectar recursos, construir estructuras y enfrentarse a una variedad de criaturas. Desde su lanzamiento en 2011, ha cautivado a millones de jugadores alrededor del mundo. El juego ofrece diversos modos, como el modo supervivencia, creativo, aventura y espectador.
  </p>
  
  <div class="row">
    <div class="col-md-6">
      <img src="https://c.tenor.com/O0TyL2rC55AAAAAd/tenor.gif" alt="Logo de Minecraft" class="img-fluid">
    </div>
    <div class="col-md-6">
      <img src="https://c.tenor.com/LU0WMjUU130AAAAd/tenor.gif" alt="Minecraft" class="img-fluid">
    </div>
  </div>
</section>

<hr>

<section class="links-section">
  <h2>Enlaces Útiles</h2>
  <p>Para sacarle el máximo provecho a tu experiencia en Minecraft, te recomendamos revisar los siguientes recursos:</p>
  <ul>
    <li><a href="https://www.minecraft.net/es-es" target="_blank">Sitio Oficial de Minecraft</a></li>
    <li><a href="https://minecraft.fandom.com/es/wiki/Minecraft_Wiki" target="_blank">Minecraft Wiki</a></li>
    <li><a href="https://www.youtube.com/watch?v=9W4n-zKGux0" target="_blank">Tutoriales y Guías de Minecraft en YouTube</a></li>
    <li><a href="https://minecraft.gamepedia.com/" target="_blank">Minecraft Gamepedia</a></li>
    <li><a href="https://www.planetminecraft.com/" target="_blank">Planet Minecraft (Recursos y Servidores)</a></li>
  </ul>
</section>

